In [27]:
import pandas as pd

df = pd.read_csv('fema_disasters_1994_2020.csv')

df.head(10)

,femaDeclarationString,disasterNumber,state,declarationType,declarationDate,fyDeclared,incidentType,declarationTitle,ihProgramDeclared,iaProgramDeclared,...,incidentEndDate,disasterCloseoutDate,fipsStateCode,fipsCountyCode,placeCode,designatedArea,declarationRequestNumber,hash,lastRefresh,id
0,DR-4-MI,4.0,MI,DR,1953-06-02T04:00:00.000Z,1953.0,Tornado,TORNADO,0.0,1.0,...,1953-06-02T04:00:00.000Z,NaN,26.0,0.0,0.0,Statewide,53004.0,8c9dee13124e36a9dfe2eb74e33fafad,2019-07-26T18:49:32.240Z,5d1bceafd5b39c032f2602c0
1,DR-2-TX,2.0,TX,DR,1953-05-15T04:00:00.000Z,1953.0,Tornado,TORNADO & HEAVY RAINFALL,0.0,1.0,...,1953-05-15T04:00:00.000Z,NaN,48.0,0.0,0.0,Statewide,53003.0,c5a1a4a1030d6730d9c562cdbe7c830f,2019-07-26T18:49:32.163Z,5d1bceafd5b39c032f2602c3
2,DR-9-TX,9.0,TX,DR,1953-06-19T04:00:00.000Z,1953.0,Flood,FLOOD,0.0,1.0,...,1953-06-19T04:00:00.000Z,NaN,48.0,0.0,0.0,Statewide,53010.0,4485da27a9218458eb2d13a6c33a4c62,2019-07-26T18:49:32.164Z,5d1bceafd5b39c032f2602c6
3,DR-11-NH,11.0,NH,DR,1953-07-02T04:00:00.000Z,1953.0,Fire,FOREST FIRE,0.0,1.0,...,1953-07-02T04:00:00.000Z,NaN,33.0,0.0,0.0,Statewide,53011.0,86a70820dbb80e585cc01e2ce502005c,2019-07-26T18:49:32.163Z,5d1bceafd5b39c032f2602c5
4,DR-6-MI,6.0,MI,DR,1953-06-09T04:00:00.000Z,1953.0,Tornado,TORNADO,0.0,1.0,...,1953-06-09T04:00:00.000Z,NaN,26.0,0.0,0.0,Statewide,53007.0,d3ae03a5caa78ae1c8b6052e5e29a97d,2019-07-26T18:49:32.163Z,5d1bceafd5b39c032f2602c2
5,DR-8-IA,8.0,IA,DR,1953-06-11T04:00:00.000Z,1953.0,Flood,FLOOD,0.0,1.0,...,1953-06-11T04:00:00.000Z,NaN,19.0,0.0,0.0,Statewide,53008.0,e258e9dd25fac73939f59c8ffb5308f5,2019-07-26T18:49:32.162Z,5d1bceafd5b39c032f2602c4
6,DR-1-GA,1.0,GA,DR,1953-05-02T04:00:00.000Z,1953.0,Tornado,TORNADO,0.0,1.0,...,1953-05-02T04:00:00.000Z,NaN,13.0,0.0,0.0,Statewide,53013.0,2f28952448e0a666d367ca3f854c81ec,2019-07-26T18:49:32.242Z,5d1bceafd5b39c032f2602bf
7,DR-3-LA,3.0,LA,DR,1953-05-29T04:00:00.000Z,1953.0,Flood,FLOOD,0.0,1.0,...,1953-05-29T04:00:00.000Z,NaN,22.0,0.0,0.0,Statewide,53005.0,745948932fd77a7c6dcd4de7059ff080,2019-07-26T18:49:32.236Z,5d1bceafd5b39c032f2602c1
8,DR-5-MT,5.0,MT,DR,1953-06-06T04:00:00.000Z,1953.0,Flood,FLOODS,0.0,1.0,...,1953-06-06T04:00:00.000Z,NaN,30.0,0.0,0.0,Statewide,53006.0,59c5483387ca13c6a3c1bc692f4860e1,2019-07-26T18:49:32.235Z,5d1bceafd5b39c032f2602c7
9,DR-13-AK,13.0,AK,DR,1953-10-30T05:00:00.000Z,1954.0,Other,SEVERE HARDSHIP,0.0,1.0,...,1953-10-30T05:00:00.000Z,NaN,2.0,0.0,0.0,Statewide,53012.0,626ddcfb06e4c7645541b9794b17d9ac,2019-07-26T18:49:32.165Z,5d1bceafd5b39c032f2602cd

In [51]:
incident_ids = df['femaDeclarationString']
incident_types = df['incidentType']
declaration_types = df['declarationType']
dates = df['incidentBeginDate'] = pd.to_datetime(df['incidentBeginDate']).dt.date

frame = {
    'incident_id': incident_ids,
    'date': dates,
    'declaration_type': declaration_types,
    'incident_type': incident_types
}

df_incidents_by_type = pd.DataFrame(frame)

df_incidents_by_type.to_csv('cleaned_fema_incidents.csv')

In [49]:
# group_by_columns = ['date', 'incident_type', 'declaration_type']

# incidents_by_date = pd.DataFrame(df_incidents_by_type.groupby(group_by_columns).incident_id.nunique())

# incidents_by_date.columns = ['incident_total']

                                           incident_total
date       incident_type declaration_type
1953-05-02 Tornado       DR                             1
1953-05-15 Tornado       DR                             1
1953-05-29 Flood         DR                             1
1953-06-02 Tornado       DR                             1
1953-06-06 Flood         DR                             1
1953-06-09 Tornado       DR                             1
1953-06-11 Flood         DR                             1
           Tornado       DR                             1
1953-06-19 Flood         DR                             1
1953-07-02 Fire          DR                             1